html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(/OpenSans/OpenSans-Regular.ttf);
}
